# .gitignore

# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local

# Testing and Coverage
coverage/
.nyc_output/

# OS Files
.DS_Store
Thumbs.db

*.md
client